.navBar {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    border-bottom: solid;
    border-color: #0c1845;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

.active {
    color: #0c1845;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    margin: 7px;
    display: flex;
    justify-content: flex-start;
}

.disable {
    color: rgba(255, 255, 255, 0.715);
    font-size: large;
    font-weight: bold;
    margin: 7px;
    text-decoration: none;
    display:flex;
    justify-content: flex-start;
}