.divCard {
    color: #0c1845;
    background-color: rgba(255, 255, 255, 0.5);
    width: 270px;
    height: 370px;
    margin: 30px;
    border-style: double;
    border-radius: 20px;
    border-width: 10px;
    border-color: #0c1845;
    
}

.divCard:hover{
    box-shadow: 0px 0px 20px 20px rgba(252, 250, 251, 0.3);
    background: #ccd0e1;
}

.buttonCardContainer {
    width: 100%;
    position: relative;
    display: flex; 
    justify-content: flex-end;
}

.buttonCard {
    background-color: #0c1845;
    color: #ccd0e1;
    border-color: transparent;
    border-radius: 6px;
    border-width: 2px;
    margin: 7px;
}

.buttonCard:hover {
    background-color: #ccd0e1;
    color:#0c1845;
    border-color:#0c1845;
    cursor: pointer;
}

.characterImagenCard {
    border-radius: 250px;
    height: 200px;
    width: 200px;
}

.nameCard {
    margin: 5px;
    margin-top: 0px;
}

.speciesGenderCard {
    display: flex;
    justify-content: space-evenly;
}

.link {
    color: #0c1845;
    text-decoration: none;
}

.buttonFav {
    background-color: transparent;
    border-color: transparent;
    border-radius: 6px;
    border-width: 2px;
    margin: 7px;
    font-size: large;
}