.inputSearchBar {
    background-color: #ccd0e1;
    width: 250px;
    height: 30px;
    border-style: solid;
    border-color: #0c1845;
    border-radius: 5px;
    margin: 5px;
}

.buttonSearchBar {
    background-color: #0c1845;
    color:#ccd0e1;
    width: 70px;
    height: 30px;
    margin: 5px;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
}

.buttonSearchBar:hover {
    background-color: #ccd0e1;
    color:#0c1845;
    border-color:#0c1845;
    cursor: pointer;
}

.divSearchBar {
    display: flex;
    justify-content: end;
}